{% extends "template/base-template-two-columns.html" %}

{% block title %}
	{{ super() }} - Home
{% endblock %}

{% block left_container %}

{% endblock %}

{% block content_container %}
	
	
	    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 10,
	  interval: 5000,
	  width: 250,
	  height: 300,
	  theme: {
	    shell: {
	      background: '#8ec1da',
	      color: '#ffffff'
	    },
	    tweets: {
	      background: '#ffffff',
	      color: '#444444',
	      links: '#1985b5'
	    }
	  },
	  features: {
	    scrollbar: true,
	    loop: false,
	    live: true,
	    hashtags: true,
	    timestamp: true,
	    avatars: false,
	    behavior: 'default'
	  }
	}).render().setUser('raulfortes').start();
	</script>
	
	
{% endblock %}
