<!DOCTYPE html>
<html lang="br">
	<head>
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}jobjobs.com.br{% endblock%}</title>
			
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 		<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
 		
	</head>
	<body>	
		<div class="wrapper-main">
			{% include "template/header.html" %}
			{% if message %}
				<div class="alert fade in">
            		<a class="close" data-dismiss="alert" href="#">&times;</a>
            		{{ message }}
          		</div>
          	{% endif %}
          	
			<div class="wrapper-content">
				{% block wrapper_content %}
				{% endblock %}
			</div>
			{% include "template/footer.html" %}
		</div>


		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>