<div class="wrapper-footer">
	<footer>
	 <div id="footer">
		<div style="margin-top: 16px; float: right;margin-right: 50px;">
			&copy; 2012 <a href="http://www.raulfortes.com.br" target="_blank">raulfortes.com.br</a>
		</div>
	 </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-847461-1");
pageTracker._trackPageview();
} catch(err) {}</script>

	</footer>
</div>